<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="covers-section">
      <div class="covers-section-container">
        <div class="covers-backdrop">
          <h2 class="covers-visually-hidden">Covers</h2>

          <ul class="covers-list">
            <li class="covers-item">
              <ul class="covers-gallery-list">
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/chego-jewelry-1x.jpg 1x,
                                            ../img/covers-section/chego-jewelry-2x.jpg 2x
                                          " src="../img/covers-section/chego-jewelry-1x.jpg" alt="chego jewelry site image"
                    class="covers-img" />
                </li>
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/energy-flow-1x.jpg 1x,
                                            ../img/covers-section/energy-flow-2x.jpg 2x
                                          " src="../img/covers-section/energy-flow-1x.jpg" alt="energy flow site image"
                    class="covers-img" />
                </li>
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/english-excellence-1x.jpg 1x,
                                            ../img/covers-section/english-excellence-2x.jpg 2x
                                          " src="../img/covers-section/english-excellence-1x.jpg"
                    alt="eenglish excellence site image" class="covers-img" />
                </li>
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/fruitbox-img-1x.jpg 1x,
                                            ../img/covers-section/fruitbox-img-2x.jpg 2x
                                          " src="../img/covers-section/fruitbox-img-1x.jpg" alt="fruitbox site image"
                    class="covers-img" />
                </li>
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/green-harvest-1x.jpg 1x,
                                            ../img/covers-section/green-harvest-2x.jpg 2x
                                          " src="../img/covers-section/green-harvest-1x.jpg" alt="green-harvest site image"
                    class="covers-img" />
                </li>
              </ul>
            </li>
          
            <li class="covers-item">
              <ul class="covers-gallery-list">
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/mimino-img-1x.jpg 1x,
                                            ../img/covers-section/mimino-img-2x.jpg 2x
                                          " src="../img/covers-section/mimino-img-1x.jpg" alt="mimino site image"
                    class="covers-img" />
                </li>
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/power-pulse-1x.jpg 1x,
                                            ../img/covers-section/power-pulse-2x.jpg 2x
                                          " src="../img/covers-section/power-pulse-1x.jpg" alt="power pulse site image"
                    class="covers-img" />
                </li>
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/starlight-studio-1x.jpg 1x,
                                            ../img/covers-section/starlight-studio-2x.jpg 2x
                                          " src="../img/covers-section/starlight-studio-1x.jpg" alt="starlight studio site image"
                    class="covers-img" />
                </li>
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/ukrainian-img-1x.jpg 1x,
                                            ../img/covers-section/ukrainian-img-2x.jpg 2x
                                          " src="../img/covers-section/ukrainian-img-1x.jpg" alt="ukrainian clothes site image"
                    class="covers-img" />
                </li>
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/wallet-img-1x.jpg 1x,
                                            ../img/covers-section/wallet-img-2x.jpg 2x
                                          " src="../img/covers-section/wallet-img-1x.jpg" alt="wallet site image"
                    class="covers-img" />
                </li>
              </ul>
            </li>
          
            <li class="covers-item">
              <ul class="covers-gallery-list">
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/chego-jewelry-1x.jpg 1x,
                                            ../img/covers-section/chego-jewelry-2x.jpg 2x
                                          " src="../img/covers-section/chego-jewelry-1x.jpg" alt="chego jewelry site image"
                    class="covers-img" />
                </li>
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/energy-flow-1x.jpg 1x,
                                            ../img/covers-section/energy-flow-2x.jpg 2x
                                          " src="../img/covers-section/energy-flow-1x.jpg" alt="energy flow site image"
                    class="covers-img" />
                </li>
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/english-excellence-1x.jpg 1x,
                                            ../img/covers-section/english-excellence-2x.jpg 2x
                                          " src="../img/covers-section/english-excellence-1x.jpg"
                    alt="eenglish excellence site image" class="covers-img" />
                </li>
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/fruitbox-img-1x.jpg 1x,
                                            ../img/covers-section/fruitbox-img-2x.jpg 2x
                                          " src="../img/covers-section/fruitbox-img-1x.jpg" alt="fruitbox site image"
                    class="covers-img" />
                </li>
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/green-harvest-1x.jpg 1x,
                                            ../img/covers-section/green-harvest-2x.jpg 2x
                                          " src="../img/covers-section/green-harvest-1x.jpg" alt="green-harvest site image"
                    class="covers-img" />
                </li>
              </ul>
            </li>
          
            <li class="covers-item">
              <ul class="covers-gallery-list">
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/mimino-img-1x.jpg 1x,
                                            ../img/covers-section/mimino-img-2x.jpg 2x
                                          " src="../img/covers-section/mimino-img-1x.jpg" alt="mimino site image"
                    class="covers-img" />
                </li>
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/power-pulse-1x.jpg 1x,
                                            ../img/covers-section/power-pulse-2x.jpg 2x
                                          " src="../img/covers-section/power-pulse-1x.jpg" alt="power pulse site image"
                    class="covers-img" />
                </li>
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/starlight-studio-1x.jpg 1x,
                                            ../img/covers-section/starlight-studio-2x.jpg 2x
                                          " src="../img/covers-section/starlight-studio-1x.jpg" alt="starlight studio site image"
                    class="covers-img" />
                </li>
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/ukrainian-img-1x.jpg 1x,
                                            ../img/covers-section/ukrainian-img-2x.jpg 2x
                                          " src="../img/covers-section/ukrainian-img-1x.jpg" alt="ukrainian clothes site image"
                    class="covers-img" />
                </li>
                <li class="covers-list-item">
                  <img srcset="
                                            ../img/covers-section/wallet-img-1x.jpg 1x,
                                            ../img/covers-section/wallet-img-2x.jpg 2x
                                          " src="../img/covers-section/wallet-img-1x.jpg" alt="wallet site image"
                    class="covers-img" />
                </li>
              </ul>
            </li>
          </ul>

          

          <!-- <ul class="covers-list">
            <li class="covers-list-item">
              <img 
                srcset="
                  ../img/covers-section/chego-jewelry-1x.jpg 1x,
                  ../img/covers-section/chego-jewelry-2x.jpg 2x
                "
                src="../img/covers-section/chego-jewelry-1x.jpg" 
                alt="chego jewelry site image" 
                class="covers-img" />
            </li>
            <li class="covers-list-item">
              <img
              srcset="
                  ../img/covers-section/energy-flow-1x.jpg 1x,
                  ../img/covers-section/energy-flow-2x.jpg 2x
                " 
                src="../img/covers-section/energy-flow-1x.jpg" 
                alt="energy flow site image" 
                class="covers-img" />
            </li>
            <li class="covers-list-item">
              <img
                srcset="
                  ../img/covers-section/english-excellence-1x.jpg 1x,
                  ../img/covers-section/english-excellence-2x.jpg 2x
                " 
                src="../img/covers-section/english-excellence-1x.jpg" 
                alt="eenglish excellence site image" 
                class="covers-img" />
            </li>
            <li class="covers-list-item">
              <img
                srcset="
                  ../img/covers-section/fruitbox-img-1x.jpg 1x,
                  ../img/covers-section/fruitbox-img-2x.jpg 2x
                " 
                src="../img/covers-section/fruitbox-img-1x.jpg" 
                alt="fruitbox site image" 
                class="covers-img" />
            </li>
            <li class="covers-list-item">
              <img
                srcset="
                  ../img/covers-section/green-harvest-1x.jpg 1x,
                  ../img/covers-section/green-harvest-2x.jpg 2x
                " 
                src="../img/covers-section/green-harvest-1x.jpg" 
                alt="green-harvest site image" 
                class="covers-img" />
            </li>


            <li class="covers-list-item">
              <img
                srcset="
                  ../img/covers-section/mimino-img-1x.jpg 1x,
                  ../img/covers-section/mimino-img-2x.jpg 2x
                " 
                src="../img/covers-section/mimino-img-1x.jpg" 
                alt="mimino site image"
                class="covers-img" />
            </li>
            <li class="covers-list-item">
              <img
                srcset="
                  ../img/covers-section/power-pulse-1x.jpg 1x,
                  ../img/covers-section/power-pulse-2x.jpg 2x
                " 
                src="../img/covers-section/power-pulse-1x.jpg" 
                alt="power pulse site image" 
                class="covers-img" />
            </li>
            <li class="covers-list-item">
              <img
                srcset="
                  ../img/covers-section/starlight-studio-1x.jpg 1x,
                  ../img/covers-section/starlight-studio-2x.jpg 2x
                " 
                src="../img/covers-section/starlight-studio-1x.jpg" 
                alt="starlight studio site image" 
                class="covers-img" />
            </li>
            <li class="covers-list-item">
              <img
                srcset="
                  ../img/covers-section/ukrainian-img-1x.jpg 1x,
                  ../img/covers-section/ukrainian-img-2x.jpg 2x
                " 
                src="../img/covers-section/ukrainian-img-1x.jpg" 
                alt="ukrainian clothes site image" 
                class="covers-img" />
            </li>
            <li class="covers-list-item">
              <img
                srcset="
                  ../img/covers-section/wallet-img-1x.jpg 1x,
                  ../img/covers-section/wallet-img-2x.jpg 2x
                " 
                src="../img/covers-section/wallet-img-1x.jpg" 
                alt="wallet site image" 
                class="covers-img" />
            </li>
          </ul> -->
        </div>
      </div>
    </section>
  </body>
</html>
