<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
    <!-- <link
      rel="stylesheet"
      href="../css/faq.css"/> -->
  </head>
  <body>
  <div class="section">
      <h1>FAQ</h1>
      <div class="faq-columns">
          <div class="faq-column">
              <div class="faq-item">
                  <div class="faq-question">
                    What programming languages ​​are most often used in your project?
                      <button class="toggle-button"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 7.5L10 12.5L5 7.5" stroke="#FAFAFA" stroke-width="2" />
                      </svg></button> <!-- Додано кнопку зі стрілочкою -->
                  </div>
                  <div class="faq-answer">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</div>
                  <div class="horizontal-line"></div> <!-- Додано лінію під відповіддю -->
              </div>
              <div class="faq-item">
                  <div class="faq-question">
                    What are the deadlines for the project?
                      <button class="toggle-button"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 12.5L10 7.5L5 12.5" stroke="#FAFAFA" stroke-width="2" />
                      </svg></button> <!-- Додано кнопку зі стрілочкою -->
                  </div>
                  <div class="faq-answer">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</div>
                  <div class="horizontal-line"></div> <!-- Додано лінію під відповіддю -->
              </div>
              <div class="faq-item">
                  <div class="faq-question">
                    What payment methods do you accept?
  
  <button class="toggle-button"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M15 12.5L10 7.5L5 12.5" stroke="#FAFAFA" stroke-width="2" />
  </svg></button> <!-- Додано кнопку зі стрілочкою -->
                  </div>
                  <div class="faq-answer">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</div>
                  <div class="horizontal-line"></div> <!-- Додано лінію під відповіддю -->
              </div>
          </div>
          <div class="middle-line"></div> <!-- Додано лінію, яка розділяє дві колонки -->
          <div class="faq-column">
              <div class="faq-item">
                  <div class="faq-question">
                    How can I contact you?
                      <button class="toggle-button"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 12.5L10 7.5L5 12.5" stroke="#FAFAFA" stroke-width="2" />
                      </svg></button> <!-- Додано кнопку зі стрілочкою -->
                  </div>
                  <div class="faq-answer">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</div>
                  <div class="horizontal-line"></div> <!-- Додано лінію під відповіддю -->
              </div>
              <div class="faq-item">
                  <div class="faq-question">
                    Do you provide advice or support?
                      <button class="toggle-button"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 12.5L10 7.5L5 12.5" stroke="#FAFAFA" stroke-width="2" />
                      </svg></button> <!-- Додано кнопку зі стрілочкою -->
                  </div>
                  <div class="faq-answer">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</div>
                  <div class="horizontal-line"></div> <!-- Додано лінію під відповіддю -->
              </div>
              <div class="faq-item">
                  <div class="faq-question">
                    What does the process of developing a software product look like from idea to implementation?
                      <button class="toggle-button"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 12.5L10 7.5L5 12.5" stroke="#FAFAFA" stroke-width="2" />
                      </svg></button> <!-- Додано кнопку зі стрілочкою -->
                  </div>
                  <div class="faq-answer">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</div>
                  <div class="horizontal-line"></div> <!-- Додано лінію під відповіддю -->
              </div>
          </div>
      </div>
  </div>
  <!-- <script src="../js/faq.js"></script> -->
  </body>
</html>
