<header class="page-header" id="page-header">
  <div class="container">
    <nav class="page-navigation">
      <a class="header-logo" href="./index.html" aria-label="Logo">
        <div class="header-imges">
          <img
            src="./img/header/header-img-1x.png"
            srcset="
              ./img/header/header-img-1x.png 1x,
              ./img/header/header-img-2x.png
            "
            alt="Logo"
            class="header-logo-img"
          />
          <p class="header-text">jefferson*</p>
        </div>
      </a>
      <div class="header-menu">
        <button
          type="button"
          class="header-menu-btn"
          aria-label="Menu list button"
        >
          Menu
        </button>
        <ul class="header-list-navigation visually-hidden is-hidden">
          <li class="nav-list">
            <a class="nav-link" href="#about-me" aria-label="Navigation link"
              >About me</a
            >
          </li>
          <li class="nav-list">
            <a class="nav-link" href="#benefits" aria-label="Navigation link"
              >Benefits</a
            >
          </li>
          <li class="nav-list">
            <a class="nav-link" href="#projects" aria-label="Navigation link"
              >Projects</a
            >
          </li>
          <li class="nav-list">
            <a class="nav-link" href="#faq" aria-label="Navigation link">FAQ</a>
          </li>
        </ul>
      </div>
      <a
        class="header-link-btn"
        href="#work-together"
        aria-label="Order button link"
        >Order the project</a
      >
      <button
        class="mobile-menu-btn"
        type="button"
        aria-label="Mobile menu button"
      >
        <svg class="mobile-menu-btn-icon" width="28" height="28">
          <use href="./img/icons/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
  </div>

  <div
    id="mobile-menu"
    class="mobile-menu"
    aria-hidden="true"
    role="navigation"
  >
    <div class="mobile-menu-container">
      <button id="menu-close" class="mobile-menu-close" aria-label="Close menu">
        <svg width="32" height="32">
          <use href="./img/icons/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="mobile-menu-content">
        <ul class="mobile-menu-numbe">
          <li><a class="mobile-menu-list" href="#about-me">About me</a></li>
          <li><a class="mobile-menu-list" href="#benefits">Benefits</a></li>
          <li><a class="mobile-menu-list" href="#projects">Projects</a></li>
          <li><a class="mobile-menu-list" href="#faq">FAQ</a></li>
        </ul>
        <a
          class="mobile-menu-order-btn"
          href="#work-together"
          aria-label="Order the project link"
          >Order the project</a
        >
      </div>
    </div>
  </div>
</header>
