<section class="hero-section container">
  <div class="hero-container">
    <h1 class="hero-title">Hello. <br>
       I'm Fullstack developer <br>
       Lloyd Jefferson.</h1>
    <ul class="social-list">
      <li class="social-item">
        <a href="https://www.instagram.com/goitclub/" target="_blank" class="icon">IG</a>
      </li>
      <li class="social-item">
        <a href="https://www.facebook.com/goITclub/" target="_blank" class="icon fb">FB</a>
      </li>
      <li class="social-item">
        <a href="https://www.youtube.com/c/GoIT" target="_blank" class="icon yt">YT</a>
      </li>
      <li class="social-item">
        <a href="https://ebikbaev.github.io/js-team16pj/" target="_blank" class="icon gh">GH</a>
      </li>
      <li class="social-item">
        <a class="icon hero-mail" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
      </li>
    </ul>
  </div>
</section>