<section class="hero-section" id="hero-section">
  <div class="hero-container">
    <h1 class="hero-title">
      <span class="title-line">Hello.</span>
    <span class="title-line">I'm Fullstack developer</span>
    <span class="title-line">Lloyd Jefferson.</span>
  </h1>
  <div class="social-links">
    <ul class="social-list">
      <li class="social-item">
        <a href="https://www.instagram.com/goitclub/" target="_blank" class="icon">IG</a>
      </li>
      <li class="social-item">
        <a href="https://www.facebook.com/goITclub/" target="_blank" class="icon">FB</a>
      </li>
      <li class="social-item">
        <a href="https://www.youtube.com/c/GoIT" target="_blank" class="icon">YT</a>
      </li>
      <li class="social-item">
        <a href="https://ebikbaev.github.io/js-team16pj/" target="_blank" class="icon">GH</a>
      </li>
      <li class="social-item">
        <a class="icon" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
      </li>
    </ul>
    </div>
  </div>
</section>