/* Mobile Styles (up to 767px) */
.faq-section {
    width: 100%;
    background: #1c1d20;
    padding: 56px 16px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color:rgba(28, 29, 32, 1);
    padding: 32px;
}

h1 {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
}

.list {
    margin: 16px;
    padding: 0;
    list-style-type: none;
    border-top: solid transparent 1px;
    border-top-color: rgba(250, 250, 250, 0.2);
    background-color: transparent;
    gap: 0;
    width: 100%;
height: auto;

}
.ac {
    border: none;
    background-color:rgba(28, 29, 32, 1);
    
}
.list-item:not(:first-child) {
    margin-top: -1px;
}

.list-item {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    border-bottom: solid transparent 1px;
    border-bottom-color: rgba(250, 250, 250, 0.2);
    background-color:rgba(28, 29, 32, 1);
    border-left: none;
    border-right: none;
    
    background-color:rgba(28, 29, 32, 1);
}
.list-item:first-child {
    border-top: solid transparent 1px; 
    border-top-color: rgba(250, 250, 250, 0.2);
}
/* Hide the input elements */
.list-item input .ac-trigger {
    display: none;
}

.list-item-title {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    padding: 10px;
    padding-right: 70px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    word-wrap: break-word;
    margin: 0;
    color: #fafafa;
    border: solid transparent 1px;
    border-bottom-color: rgba(250, 250, 250, 0.2);
    background-color:rgba(28, 29, 32, 1);
    border-left: none;
    border-right: none;
}
.column {
    border: none;
}
.list-item-title svg {
    border: 1px solid rgba(250, 250, 250, 0.2); 
    border-radius: 50%; 
    padding: 2px; 
}



.list-item:last-child .list-item-title {
    border-top-color: rgba(250, 250, 250, 0.2);
}

.list-item-text {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    padding: 0;
    /* border-radius: 0 0 5px 5px; */
    margin: 0;
    background-color:rgba(28, 29, 32, 1);
    
}

/* Show the content when the checkbox is checked */
.list-item input.ac-trigger:checked ~ .list-item-text {
    max-height: 1000px; /* Adjust based on content */
    padding: 10px 0;
}

/* Rotate the icon when the checkbox is checked */
.list-item input.ac-trigger:checked ~ .list-item-title .list-item-icon {
    transform: rotate(180deg);
}

button {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the SVG horizontally */
    gap: 10px;
    border: 1px solid rgba(250, 250, 250, 0.2); /* Grey border */
    border-radius: 50%; /* Make the border circular */
    padding: 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
    background: none; 
    margin-bottom: 32px;
}

.ac-trigger {
    color: transparent;
}

.list-item-icon {
    width: 20px;
    height: 20px;
    fill: #fafafa;
    transition: transform 0.5s;
}


/* Tablet and Desktop Styles (768px and above) */
@media (min-width: 768px) and (max-width: 1439px) {
    .section {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 32px;
        width: 704px;
        height: 964px;
    }
    .list {
        margin: 32px;
        width: 100%;
        background-color:rgba(28, 29, 32, 1);
    }
    .list-item {
        border-bottom: solid transparent 1px;
        border-bottom-color: rgba(250, 250, 250, 0.2);
        margin: 0;
    }
    .list-item-title {
        font-size: 20px;
        padding: 32px 10px 42px;

    }
    .list-item-text {
        font-size: 16px;
        margin-top: 26px;
        margin-bottom: 24px;
    }
    .horizontal-line {
        width: 100%;
        height: 2px;
        background-color: rgba(250, 250, 250, 0.2);
        margin-bottom: 20px;
    }
    .li .list-item .ac {
        margin-top: 0;
        border: none;
        background-color:rgba(28, 29, 32, 1);
    }
    
    .ac {
        border: none;
        background-color:rgba(28, 29, 32, 1);}
        .ac .ac-header {
            padding: none;
        }
    .ac-trigger {
        margin-top: 0;
        border: none;
        background-color: transparent;
    }
    .ac-panel {
        margin-top: 0;
        border: none;
        
    }
    .list-item-icon {
        margin-top: 32px;
        margin-right: 32px;
    }
    
}



@media (min-width: 1440px) {
    .section {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 32px;
padding: 164px 32px;
width: 1440px;
height: auto;
background: #1c1d20;
    }

    .list {
        margin: 32px;
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        background-color:rgba(28, 29, 32, 1);
        width: 100%;
       height: auto;
    }

    .list-item {
        display: flex;
        flex-direction: column;
        border-left: none;
        border-right: none;
        margin: 0;
    }
    .list-item-title {
        padding: 32px 10px 42px;
    }

    /* Ensure the correct column layout for desktop */
    .list-item:nth-child(1),
    .list-item:nth-child(2),
    .list-item:nth-child(3) {
        grid-column: 1;
    }

    .list-item:nth-child(4),
    .list-item:nth-child(5),
    .list-item:nth-child(6) {
        grid-column: 2;
        margin-top: 0;
    }
    .list-item:nth-child(1),
    .list-item:nth-child(4) {
        align-self: start;
    }
    .list-item:nth-child(2),
    .list-item:nth-child(5) {
        align-self: center;
    }
    .list-item:nth-child(3),
    .list-item:nth-child(6) {
        align-self: end;

    }
    
}

.list-item .ac {

}
.li.list-item.ac {
    background-color:rgba(28, 29, 32, 1)
}