body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.faq-section {
    width: 100%; 
    background: #1c1d20;
    padding: 56px 16px 0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start; 
    flex-direction: column; 
    gap: 32px; 
}

.faq-section .faq-columns {
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start; 
    flex-direction: column; 
    gap: 20px; 
    width: 100%;
    height: auto; 
    margin-top: -56px; 
}
.faq-item {
    position: relative;
    margin-top: 20px; 
}

.faq-question {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
    background-color: #007BFF;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.faq-answer {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 3px solid #007BFF;
    border-radius: 0 0 5px 5px;
    margin-top: 16px; 
    margin-bottom: 20px; 
}

.horizontal-line {
    width: 100%;
    height: 2px; 
    background-color: rgba(250, 250, 250, 0.2); 
    margin-bottom: 20px; 
}
.toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    padding: 7px;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 10px; 
    right: 10px; 
                cursor: pointer;
            }
            
            /* Стилі для стрілки на кнопці */
            .toggle-button svg {
                width: 20px;
                height: 20px;
            }
        
        
        /* Стилі для планшетної версії (768px - 1439px) */
        @media (min-width: 768px) and (max-width: 1439px) {
            .faq-section {
                width: 704px; 
                height: 964px; 
                padding: 82px 32px 0; 
                gap: 32px; /
            }
            
            .faq-section .faq-columns {
                gap: 32px; 
                height: 908px; 
                margin-top: -56px; 
            }
            
            .faq-question {
                font-size: 20px; 
            }
            
            .faq-answer {
                font-size: 16px; 
                margin-top: 26px; 
                margin-bottom: 24px; 
            }
             .horizontal-line {
                display: none; 
            }
            
            .faq-columns {
                flex-direction: row; 
            }
            
            .middle-line {
                width: 2px; 
                height: 584px; 
                background-color: rgba(250, 250, 250, 0.2); 
            }
            
            .faq-column {
                width: 50%; 
            }
        }
        
        /* Стилі для десктопної версії (1440px і більше) */
        @media (min-width: 1440px) {
            .faq-section {
                width: 1400px; 
                height: 964px; 
                padding: 82px 32px 0; }

.faq-section .faq-columns {
            gap: 32px; 
            height: 908px; 
            margin-top: -56px; 
        }
        
        .faq-question {
            font-size: 20px; 
        }
        
        .faq-answer {
            font-size: 16px; 
            margin-top: 26px; 
            margin-bottom: 24px;
        }
        
        .horizontal-line {
            display: block; 
        }
        
        .middle-line {
            display: none; 
        }
        
        .faq-columns {
            flex-direction: column; 
        }
        
        .faq-column {
            width: 100%; 
        }
        
        .vertical-line {
            width: 2px; 
            height: 584px; 
            background-color: rgba(250, 250, 250, 0.2); 
        }
    }
