.page-header {
  position: absolute;
  top: 32px;
  right: 0;
  left: 0;
}

.relative {
  position: relative;
}

.page-navigation {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  border: 1px solid transparent;
}

.header-logo:focus {
  border: 1px solid rgba(250, 250, 250, 1);
  outline: transparent;
}

.header-imges {
  display: flex;
  gap: 8px;
}

.header-text {
  color: #fafafa;
}

.header-menu {
  display: none;
}

.header-link-btn {
  display: none;
}

.mobile-menu-btn {
  width: 28px;
  height: 28px;
  background-color: transparent;
  position: relative;
}

.mobile-menu-btn-icon {
  position: absolute;
  top: 0;
  right: 0;
  stroke: #fafafa;
}
.languages-container {
  display: none;
}

@media screen and (max-width: 767px) {
  .languages {
    position: relative;
    top: 40px;
    display: flex;
    gap: 30px;
    justify-content: center;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-menu-btn, .language-btn {
    color: #fafafa;
    margin-bottom: 18px;
    line-height: normal;
    padding: 0;
    letter-spacing: -0.02em;
    background-color: transparent;
    border-bottom: 2px solid #fafafa;
    text-decoration-skip-ink: none;
  }

  .header-list-navigation, .languages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .is-hidden {
    display: none;
  }

  .header-link-btn {
    display: block;
    letter-spacing: -0.02em;
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    background-color: #ed3b44;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fafafa;
  }

  .nav-list, .languages .item {
    border-bottom: 2px solid transparent;
    transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #fafafa;
  }

  .nav-list:hover,
  .nav-list:focus,
  .nav-list:active,
  .languages .item:hover,
  .languages .item:focus,
  .languages .item:active {
    color: #ed3b44;
    /* color: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    border-bottom: 2px solid #ed3b44;
  }

  .mobile-menu-btn {
    display: none;
  }
  .languages-container {
    position: absolute;
    top: 0;
    right: 180px;
    display: block;
    width: 90px;
    text-align: center;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  background-image: url('../img/header/Glass effect 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mobile-menu-close {
  display: flex;
  position: absolute;
  top: 32px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  stroke: #fafafa;
}

.mobile-menu-container {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
  padding-top: 302px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-container {
    display: none;
  }
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .mobile-menu {
    object-fit: fill;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .languages-container {
    right: 230px;
  }
}

.mobile-menu-content {
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu-numbe {
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu-list {
  text-align: center;
  color: #fafafa;
  letter-spacing: -0.02em;
  margin: 0 auto;
  margin-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-list:hover,
.mobile-menu-list:focus,
.mobile-menu-list:active {
  color: #ed3b44;
  border-bottom: 2px solid #ed3b44;
}

.mobile-menu.open {
  margin-bottom: 5px;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu-order-btn {
  display: block;
  letter-spacing: -0.02em;
  border-radius: 60px;
  margin-top: 120px;
  padding: 14px 31px;
  width: 164px;
  height: 45px;
  background-color: #ed3b44;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Inter Tight;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
}

.mobile-menu-order-btn:hover,
.mobile-menu-order-btn:focus,
.mobile-menu-order-btn:active {
  background-color: #e0373f;
}
