.projects {
  background: #1c1d20;
}

.projects-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);

  margin-bottom: 32px;
}

.projects-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #1c1d20;
}

.mini-container {
  padding: 32px;
  border-radius: 24px 24px 0 0;
  max-width: 100%;
  background-color: #fafafa;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;

  margin-bottom: 95px;
}

.projects-item {
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;
}

.projects-head-text {
  width: 320px;
  display: block;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  color: #1c1d20;
  margin-bottom: 32px;
}

.projects-button {
  border: none;
  border-radius: 60px;
  padding: 13px 32px;
  background: #ed3b44;

  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.projects-img {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #242527;
  border-radius: 0 0 24px 24px;

  margin-bottom: 32px;
}

.buttons-list {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.button-item {
  border: 1px solid #e0e0e0;
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
}

.swiper-button-disabled {
  border: 1px solid rgba(250, 250, 250, 0.2);
}

@media screen and (min-width: 768px) {
  .projects-img {
    padding: 120px 45px 120px 45px;
  }
  .projects-head-text {
    font-size: 44px;
    line-height: 1;
    width: 494px;
  }

  .projects-button {
    padding: 18px 32px;
  }

  .mini-container {
    padding: 64px;
  }

  .img-container {
    border-radius: 0 0 24px 24px;
    background-color: #242527;
  }

  .projects-img {
    margin-bottom: 64px;
  }

  .button-item {
    padding: 18px;
    width: 68px;
    height: 68px;
  }

  .button-right {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .mini-container {
    width: 688px;
  }

  .flex-container {
    display: flex;
    margin-bottom: 64px;
  }

  .projects-item {
    padding: 18px;
  }

  .projects-list {
    margin-bottom: 220px;
  }

  .mini-container {
    border-radius: 24px 0 0 24px;
  }

  .projects-img {
    padding: 0;
    display: block;
    width: 614px;
    height: 385px;
    border-radius: 0;
  }

  .img-container {
    width: 688px;
    border-radius: 0 24px 24px 0;
    padding: 120px 37px 120px 37px;
  }
}

.button-prev {
  stroke: #fafafa;
}
