
.reviews {
  padding-top: 82px;
  padding-bottom: 164px;
  background-color: var(--bgc);
  overflow: hidden;
  }

.swiper-reviews {
  overflow: hidden;
}
.reviews-header {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.02em;
color: #FAFAFA;
}

.reviewers-list.swiper-wrapper {
  margin-bottom: 32px;
}

.alert {
  
  color: #E0E0E0;
}
.swiper-slide {
  
}
.reviewers-list {
  display: flex;
  
}
.swiper-slide.reviewers-card {
  border: 1px solid #E0E0E0;
  border-radius: 20px;
  padding: 32px 24px;
  width: 332px;
  height: 352px;
  box-sizing: border-box;
}

.reviews-image {
  height: 48px;
  width: 48px;
  margin-bottom: 32px;
}

.reviewer-name {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #FAFAFA;
}
.reviewer-text {
  width: 264px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #FAFAFA;
}
.review-buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.reviews-button{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  fill: #E0E0E0;
  stroke: #E0E0E0;
}

.button-inactive{
  cursor: default;
  border-color: #3b3b3b;
  fill: #3b3b3b;
  stroke: #3b3b3b;
  }





